* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Poppins , Roboto;
}

body {
    min-height: 100vh;
    background-image: url(Rectangle.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
}

.login-card {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 8px;
    color: #333;
}

.subtitle {
    color: #666;
    margin-bottom: 24px;
}
.role-dropdown {

    width: 100%;
    padding: 12px;    
    background-color: #d2c2cd; 
    color: #6b1950;
    border: 0.5px solid #6b1950;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: poppins;
    font-size: 14px;
    cursor: pointer;
}

.input-group {
    margin-bottom: 16px;
}

input {
    width: 100%;
    padding: 12px;
    border: 0.5px solid #6b1950;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}


input:focus {
    border-color: #4834d4;
}

.divider {
    text-align: center;
    margin: 24px 0;
    position: relative;
}


.social-logins {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 24px;
}

.social-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f8f8f8;
    cursor: pointer;
    transition: background 0.3s;
}

.social-btn:hover {
    background: #eee;
}

.icon {
    font-size: 20px;
    color: #666;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #6b1950;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}


.footer {
    text-align: right;
    margin-top: 20px;
    color: white;
    font-size: 12px;
}

@media (max-width: 480px) {
    .login-card {
        padding: 20px;
    }
}